
/* @viewport {
	width: device-width ;
	zoom: 1.0 ;
  } */

body {
	background-color: beige;
}

.title {
	width: 95%;
	text-align: center;
}

#logo {
	width: 8%;
    max-width: 100%;
    float: left;
    margin-left: 2%;
	margin-top: 2%;
}

.pageheader {
	background-color: beige;
    color: black;
    font-family: Georgia;
    font-size: 20px;
	padding-left: 3%;
}

.body {
	position: absolute;
    top: 13%;
    background-color: beige;
    color: black;
    margin-left: 12%;
    font-size: 12px;
    height: 50%;
	width: 54%;
}

#bio-image {
	float: left;
	padding: 1% 2% 100%;
}

#p, #li {
	font-family: Georgia;
	font-size: 12px;
}

.buttons {
	font-family: Georgia;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: pink;
}

.buttons:hover {
	color: black;
	text-decoration: none;
	}

.body2 {
	position: absolute;
	top: 13%;
	background-color: beige;
	margin-left: 12%;
	height: 500px;
	width: 52%;
	margin-bottom: 20%;
	z-index: 4;
}

.apps {
	margin-left: 3%;
	text-align: -webkit-left;
}

.foot{
	background-color: black;
	font-family: Georgia;
	font-size: 13px;
	color: beige;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	padding-top: 2%;
	z-index: 999;
}