
body {
	background-color: beige;
}

.title {
	width: 95%;
	text-align: center;
}

#logo {
	width: 8%;
    max-width: 100%;
    float: left;
    margin-left: 2%;
	margin-top: 2%;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.pageheader {
	background-color: beige;
    color: black;
    font-family: Georgia;
    font-size: 20px;
	padding-left: 3%;
}

.body {
	position: absolute;
    top: 13%;
    background-color: beige;
    color: black;
    margin-left: 12%;
    font-size: 12px;
	height: 300px;
	width: 50%;
}

#bio-image {
	float: left;
	padding: 1% 2% 100%;
}

#p, #li {
	font-family: Georgia;
	font-size: 12px;
}

.buttons {
	font-family: Georgia;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: pink;
}

.buttons:hover {
	color: black;
	text-decoration: none;
	}

.body2 {
	position: absolute;
	top: 13%;
	background-color: beige;
	margin-left: 12%;
	height: 500px;
	width: 50%;
	margin-bottom: 20%;
	z-index: 4;
}

.apps {
	margin-left: 3%;
	text-align: -webkit-left;
}

.foot{
	background-color: black;
	font-family: Georgia;
	font-size: 13px;
	color: beige;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	padding-top: 2%;
	z-index: 999;
}

/* Media Query  */
@media screen and (max-width: 480px) and (min-width: 361px) {

	body {
		background-color: beige;
	}
	
	.title {
		width: 95%;
		text-align: center;
	}
	
	#logo {
		width: 18%;
		max-width: 100%;
		float: left;
		margin-left: 3%;
		margin-top: 5%;
		-webkit-animation:spin 4s linear infinite;
    	-moz-animation:spin 4s linear infinite;
    	animation:spin 4s linear infinite;
	}
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
	
	.pageheader {
		background-color: beige;
		color: black;
		font-family: Georgia;
		font-size: 20px;
		padding-left: 3%;
	}
	
	.body {
		position: absolute;
		top: 13%;
		background-color: beige;
		color: black;
		margin-left: 23%;
		font-size: 12px;
		width: 50%;
		height: 830px;
	}
	
	#bio-image {
		float: left;
		padding-bottom: 6%;
		width: 100%;
	}
	
	#p, #li {
		font-family: Georgia;
		font-size: 12px;
		padding: 2%;
	}
	
	.buttons {
		font-family: Georgia;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: pink;
	}
	
	.buttons:hover {
		color: black;
		text-decoration: none;
	}
	
	.body2 {
		position: absolute;
		top: 13%;
		background-color: beige;
		margin-left: 23%;
		height: 190%;
		width: 50%;
		margin-bottom: 20%;
		z-index: 4;
	}
	
	.apps {
		margin-left: 3%;
		text-align: -webkit-left;

	}
	
	.foot{
		background-color: black;
		font-family: Georgia;
		font-size: 13px;
		color: beige;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5%;
		padding-top: 2%;
		z-index: 999;
	}
}